.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

.boton {
  text-decoration:none;
  font-weight: 600;
  font-size: 20px;
  color:#000000;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:40px;
  padding-right:40px;
  background-color: white;
  border-color:#FF0099;
  border-width: 3px;
  border-style: solid;
  border-radius:35px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }

  .boton2 {
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#000000;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color: white;
    border-color:#FF0099;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }

.saludo {
  text-align: center;
  font-family: sans-serif;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  font-size: x-large;
  }

.mensaje {
  text-align: center;
  font-family: sans-serif;
  line-height: 80%;
  text-shadow: 1px 3px 3px rgba(0,0,0,0.3);
  }

.textArea {
  border-color:#FF0099;
  border-width: 3px;
  border-style: solid;
  
  }
.textArea1 {
    border-color:#000000;
    border-width: 3px;
    border-style: solid;
    
  }

.flecha {
  position: absolute;
  right:inherit;
  margin-top: -80px;

  }
  
.flecha2 {
  position: absolute;
  left: 420px;
  margin-top: -95px;
  transform: rotate(340deg)
  }

